extends layout

block head
	script(src="/static/js/sortable.js" charset="utf-8")
	script.
		var pl = !{JSON.stringify(pl)};

block content
	div.q
		h1=pl.name
		div(ng-show="pl.l_song.length>0")
			table.q
				tr
					th.q
					th.q Name
					th.q Duration
				tbody#pltable
					- for (var i=0; i<pl.l_song_id.length; i++)
						tr(style="background-color: #{(i%2)?'#eef':'#ccf'};" data=pl.l_song_id[i] i="#{i}")
							td.q.num #{i+1}
							td.q #{pl.l_song[i].name}
							td.q {{pretty_time(pl.l_song[#{i}].duration)}}
		div(ng-show="pl.l_song.length==0")
			center
				p
					| It looks like this queue is empty. Feel free to 
					a(href='/add/#{pl.id}') add to it
					| !

block bottom
	div(style="text-align:right; padding: 0px 12px;")
		a(href = "/add/#{pl.id}")
			img(src="/images/add.png" onmouseover="this.src='/images/add_hover.png';" onmouseout="this.src='/images/add.png';")
